<h2>Olá {{name}},</h2>

<p>Aparentemente você requisitou uma recuperação de senha, caso deseja prosseguir com o processo, clique no link abaixo:</p>

<a href="{{resetPasswordUrl}}" target="_blank">Recuperar senha</a>